@font-face {
  font-family: Facebook;
  src: url("../assets/typeface/FACEBOLF.OTF");
}

#usContainer img {
  height: 200px;
  width: auto;
  margin-left: -50px;
}

#christineDiv img {
  height: 500px;
  width: auto;
  margin: -250px 0 0 -250px;
}

.image {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: auto;
  border: 1px solid #3b5998
}


#jonnyDiv, #paigeDiv, #samDiv, #christineDiv{
  display: inline-block;
  background: #afbdd4;
  width: 25%;
  text-align: center;
  padding: 10px;
border: 1px solid #3b5998;
margin: 10px 50px;
box-shadow: 1px 1px 5px 0;

}

#logo {
  background: #3b5998;
  width: 100%;
  z-index: 999;
}
#logo img {
  height: 100px;
}

#usContainer {
  width: 100%;
  margin: auto;
  background: #d8dfea;
  padding: 20px;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  text-align: center;

}

#jonny, #paige, #christine, #sam {
  width: 100px !important;
  height: auto !important;
  margin: 0 !important;
  clear: both;
}

#jonny:hover, #paige:hover, #christine:hover, #sam:hover {
  background: #d8dfea;
  cursor: pointer;
}

#jonny:active, #paige:active, #christine:active, #sam:active {
  background: #0e1f56;
  cursor: pointer;
}
